<html>
	<head>

	</head>
	<body>

		<h1>
            Inicia session con Facebook
            <input type="button" value="Login con Facebook">
        </h1>

        <h1>Seleciona tu Evento</h1>
        <select>
            <option>Evento uno</option>
            <option>Evento dos</option>
            <option>Evento tres</option>
        </select>   

        <h1>Lista de asistentes</h1>

        <ul>
            <li>Juan Antonio</li>
            <li>Luisa Maria</li>
            <li>Pepe </li>
            <li>Cirilo</li>
            <li>Pepina</li>
            <li>Bob</li>
        </ul>

	</body>
</html>